<!-- Header -->
<header class="header">
    <nav class="nav container">
        <div class="nav__logo">
            <a href="index.html">
                <img src="assets/images/tuweb.png" alt="tuweb - Desarrollo Web Profesional" class="nav__logo-img">
            </a>
        </div>
        <ul class="nav__menu" id="nav-menu">
            <li class="nav__item">
                <a href="index.html" class="nav__link" data-page="index">Inicio</a>
            </li>
            <li class="nav__item">
                <a href="servicios.html" class="nav__link" data-page="servicios">Servicios</a>
            </li>
            <li class="nav__item">
                <a href="portafolio.html" class="nav__link" data-page="portafolio">Portafolio</a>
            </li>
            <li class="nav__item">
                <a href="precios.html" class="nav__link" data-page="precios">Precios</a>
            </li>
            <li class="nav__item">
                <a href="contacto.html" class="nav__link" data-page="contacto">Contacto</a>
            </li>
        </ul>
        <div class="nav__cta">
            <a href="index.html#contacto" class="btn btn--primary btn--small">Cotización Gratis</a>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>

